[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL_image_compact"]
	path = lib/SDL_image_compact
	url = https://github.com/FNA-XNA/SDL_image_compact.git
[submodule "lib/FMOD_SDL"]
	path = lib/FMOD_SDL
	url = https://github.com/flibitijibibo/FMOD_SDL.git
[submodule "lib/FNA3D"]
	path = lib/FNA3D
	url = https://github.com/FNA-XNA/FNA3D.git
